.styled-text-area {
    -fx-background-color: #303841;
}

.styled-text-area .text {
    -fx-fill: white;
}

.styled-text-area .highlight {
    -rtfx-background-color: yellow;
    -fx-fill: black;
}

.styled-text-area .normal {
    -rtfx-background-color: #303841;
}

.caret {
    -fx-stroke: white;
}

.lineno {
    -fx-background-color: #303841;
}

.split-pane *.split-pane-divider {
   -fx-background-color: transparent;
   -fx-padding: 0;
}

